.blinking-text {
    font-size: 24px;
    color: red;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
#scrollBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position at the bottom-right */
    bottom: 20px; /* Distance from the bottom */
    right: 30px; /* Distance from the right */
    z-index: 99; /* Ensure the button is on top */
    font-size: 18px; /* Font size */
    border: none; /* No border */
    outline: none; /* No outline */
    background-color: #007bff; /* Button color */
    color: white; /* Text color */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 15px; /* Padding */
    border-radius: 50%; /* Rounded button */
}

#scrollBtn:hover {
    background-color: #05e2ff; /* Darker background on hover */
}
/* Base button styling */
.icon-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 150px;
    left: 20px;
    z-index: 1000;
    background-color: #e9e8e8;
}

.fixed-button {
    margin: 10px 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.fixed-button img {
    display: block;
    margin: 0 auto;
}

#toggleBtn {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .icon-box {
        flex-direction: row;
        bottom: 0px;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .fixed-button {
        margin: 0 10px;
    }

    #toggleBtn {
        margin-bottom: 0;
        margin-right: 15px;
    }
}

